@media screen and (max-width: 1600px) {
    body {
    
    
    .grid{
        .item7 {
            top: -7.5rem;
            left: 24rem;
        }
    }
    .section_n2 {
        p {font-size: 1.8em;
    margin: 0rem 1.25rem 0rem 1.25rem;}
        }
    
    .section_n3 {
        .s3_3 {
            button{ left: 50px;}
        }

    }
}
}
